{% extends "encyclopedia/layout.html" %}


{% block title %}
    {% if entries.type != array %}

    Encyclopedia
    {% else %}
    {{ title}}
    {% endif %}

{% endblock %}

{% block body %}

    {% if isIndex %} 

  
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
        <li><a href="{{ entry }}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

    {% elif isNewEntry %}
    
    <h1> {{ heading|safe }} </h1>

    <p> {{body|safe }}</p>

    {% else %}

     {{ entries|safe }}

    {% endif %}

{% endblock %}
